version: '2'
services:
  code:
    image: ubuntu:16.04
    container_name: kmet_code
    volumes:
      - ../project/:/var/www/html

  php:
    build: ./php
    container_name: kmet_php
    volumes_from:
      - code
    links:
      - mysql

  nginx:
    build: ./nginx
    container_name: kmet_nginx
    ports:
      - "82:80"
    volumes_from:
      - code
    links:
      - php:fpm

  mysql:
    image: mysql
    container_name: kmet_mysql
    volumes_from:
      - mysqldata
    ports:
      - "3312:3306"
    environment:
      - MYSQL_DATABASE=dev_kmet
      - MYSQL_USER=kmet
      - MYSQL_PASSWORD=kmet_pass
      - MYSQL_ROOT_PASSWORD=root_pass

  mysqldata:
    image: ubuntu:16.04
    container_name: kmet_mysqldata
    volumes:
        - /var/lib/mysql